.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.header-container > .header-group1 > h1 {
    font-size: 20px;
    font-weight: 700;
    color: #000000A6;
}

.header-container .header-group2 {
    display: flex;
    align-items: center;
}

.header-container .header-group2 .header-search {
    margin-right: 10px;
}